In [ ]:
filename = "./SPY.csv"

## load as file

In [2]:
with open(filename, 'r') as f:
    for _ in range(5):
        print(f.readline(), end='')

date,open,close,low,high,volume
2010-01-04,112.37,113.33,111.51,113.39,118944600
2010-01-05,113.26,113.63,112.85,113.68,111579900
2010-01-06,113.52,113.71,113.43,113.99,116074400
2010-01-07,113.5,114.19,113.18,114.33,131091100

## load as csv

In [ ]:
import csv

In [4]:
csv_reader = csv.reader(open(filename, 'r'))

In [5]:
data = list(csv_reader)

In [6]:
data[:5]

[['date', 'open', 'close', 'low', 'high', 'volume'],
 ['2010-01-04', '112.37', '113.33', '111.51', '113.39', '118944600'],
 ['2010-01-05', '113.26', '113.63', '112.85', '113.68', '111579900'],
 ['2010-01-06', '113.52', '113.71', '113.43', '113.99', '116074400'],
 ['2010-01-07', '113.5', '114.19', '113.18', '114.33', '131091100']]

## read as csv via dictionary reader

In [8]:
csv_reader = csv.DictReader(open(filename, 'r'))

In [9]:
dictData = list(csv_reader)

In [10]:
 dictData[:3]

[{'date': '2010-01-04',
  'open': '112.37',
  'close': '113.33',
  'low': '111.51',
  'high': '113.39',
  'volume': '118944600'},
 {'date': '2010-01-05',
  'open': '113.26',
  'close': '113.63',
  'low': '112.85',
  'high': '113.68',
  'volume': '111579900'},
 {'date': '2010-01-06',
  'open': '113.52',
  'close': '113.71',
  'low': '113.43',
  'high': '113.99',
  'volume': '116074400'}]

## aggregate data from dictionary

In [12]:
 sum([float(l['close']) for l in dictData]) / len(dictData)

196.25959181240114

## read data via pandas

In [13]:
import pandas as pd

In [17]:
dataFrame = pd.read_csv(filename, index_col=0, parse_dates=True)

In [18]:
dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2516 entries, 2010-01-04 to 2019-12-31
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    2516 non-null   float64
 1   close   2516 non-null   float64
 2   low     2516 non-null   float64
 3   high    2516 non-null   float64
 4   volume  2516 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 117.9 KB

### data frame head, tail

In [19]:
dataFrame.head()

              open   close     low    high     volume
date
2010-01-04  112.37  113.33  111.51  113.39  118944600
2010-01-05  113.26  113.63  112.85  113.68  111579900
2010-01-06  113.52  113.71  113.43  113.99  116074400
2010-01-07  113.50  114.19  113.18  114.33  131091100
2010-01-08  113.89  114.57  113.66  114.62  126402800

In [20]:
dataFrame.tail()

              open   close     low    high    volume
date
2019-12-24  321.47  321.23  320.90  321.52  20258042
2019-12-26  321.65  322.94  321.64  322.95  29573883
2019-12-27  323.74  322.86  322.28  323.80  37791481
2019-12-30  322.95  321.08  320.55  323.10  45643299
2019-12-31  320.53  321.86  320.15  322.13  44351029

### calculate mean close

In [21]:
dataFrame['close'].mean()

196.2595918124006

### export data frame to json

In [22]:
# dataFrame.to_json('./spy.json')