`pip install Quandl`

In [11]:
import quandl
import pandas as pd 
import numpy as np

In [12]:
quandl.ApiConfig.api_key = 'Z_QgfgMHxsFxag1kMFhe'

In [13]:
aapl = quandl.get_table('QUOTEMEDIA/PRICES', ticker='AAPL')

In [14]:
aapl.head()

,ticker,date,open,high,low,close,volume,dividend,split,adj_open,adj_high,adj_low,adj_close,adj_volume
None,,,,,,,,,,,,,,
0,AAPL,2017-10-31,167.90,169.6499,166.94,169.04,36046828.0,0.0,1.0,39.768737,40.183218,39.541352,40.038757,144187312.0
1,AAPL,2017-10-30,163.89,168.0700,163.72,166.72,44700772.0,0.0,1.0,38.818930,39.809003,38.778664,39.489243,178803088.0
2,AAPL,2017-10-27,159.29,163.6000,158.70,163.05,44454160.0,0.0,1.0,37.729375,38.750241,37.589628,38.619968,177816640.0
3,AAPL,2017-10-26,157.23,157.8295,156.78,157.41,17000469.0,0.0,1.0,37.241444,37.383442,37.134858,37.284079,68001876.0
4,AAPL,2017-10-25,156.91,157.5500,155.27,156.41,21207098.0,0.0,1.0,37.165649,37.317240,36.777200,37.047220,84828392.0

select the `date` and `adj_close` columns

In [24]:
df = aapl.loc[:, ['date','adj_close']]

In [25]:
df.tail()

           date  adj_close
None
37   2017-09-08  37.573048
38   2017-09-07  38.195989
39   2017-09-06  38.349948
40   2017-09-05  38.390214
41   2017-09-01  38.856827

Calculate the simple and log returns using the adjusted close prices

In [26]:
df['simple_rtn'] = df.adj_close.pct_change()
df['log_rtn'] = np.log(df.adj_close/df.adj_close.shift(1))

> #### How it works
> To calculate the simple returns, we used the pct_change method of pandas Series/DataFrame, which calculates the percentage change between the current and prior element (we can specify the number of lags, but for this specific case, the default value of 1 suffices).
> 
> To calculate the log returns, we followed the formula given in the introduction to this recipe. When dividing each element of the series by its lagged value, we used the `shift` method with a value of 1 to access the prior element. In the end, we took the natural logarithm of the divided values by using `np.log`.

In [28]:
df.tail()

           date  adj_close  simple_rtn   log_rtn
None
37   2017-09-08  37.573048   -0.017771 -0.017931
38   2017-09-07  38.195989    0.016579  0.016444
39   2017-09-06  38.349948    0.004031  0.004023
40   2017-09-05  38.390214    0.001050  0.001049
41   2017-09-01  38.856827    0.012154  0.012081

## Calculate Frequency

Define the function for calculating the realized volatility:

In [30]:
def realized_volatility(x):
    return np.sqrt(np.sum(x**2))

Calculate the monthly realized volatility: