In [1]:
import quandl

In [2]:
quandl.ApiConfig.api_key = 'Z_QgfgMHxsFxag1kMFhe'

In [3]:
aapl = quandl.get_table('QUOTEMEDIA/PRICES', ticker='AAPL')

In [4]:
aapl.head()

,ticker,date,open,high,low,close,volume,dividend,split,adj_open,adj_high,adj_low,adj_close,adj_volume
None,,,,,,,,,,,,,,
0,AAPL,2017-10-31,167.90,169.6499,166.94,169.04,36046828.0,0.0,1.0,39.768737,40.183218,39.541352,40.038757,144187312.0
1,AAPL,2017-10-30,163.89,168.0700,163.72,166.72,44700772.0,0.0,1.0,38.818930,39.809003,38.778664,39.489243,178803088.0
2,AAPL,2017-10-27,159.29,163.6000,158.70,163.05,44454160.0,0.0,1.0,37.729375,38.750241,37.589628,38.619968,177816640.0
3,AAPL,2017-10-26,157.23,157.8295,156.78,157.41,17000469.0,0.0,1.0,37.241444,37.383442,37.134858,37.284079,68001876.0
4,AAPL,2017-10-25,156.91,157.5500,155.27,156.41,21207098.0,0.0,1.0,37.165649,37.317240,36.777200,37.047220,84828392.0